/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: hotpink;
}

.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}

.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}

.bold {
  font-weight: bold;
  color: #82dbff;
}

.imported {
  background-color: #E2E2E2;
}

#aspect_submission_StepTransformer_div_StartSubmissionLookupStep {

  #aspect_submission_StepTransformer_field_search {
    width: 81%;
    display: inline;
  }

  #aspect_submission_StepTransformer_field_lookup {
    width:19%
  }

  .modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }

  #aspect_submission_StepTransformer_item_publication-title{
    margin-bottom:5px;
  }
}

footer > .container, footer .row > div{
  border-top: 0px;
}

.breadcrumb > li + li:before{
  content: url("../images/arrow-breadcrumbs.png");
  padding: 0 17px 0 0;
  margin: 0 10px 0 0;
}
#sidebar{
  padding-left: 0px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b93d45;
  border-color: #b93d45;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  background-color: #b93d45;
  border-color: #b93d45;
}
.form-control{
  border-color: #b93d45;
}
.form-control:focus {
  border-color: #b93d45;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 112, 166, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 112, 166, 0.6);
}
#botao-principal {
  background-color: rgba(185, 61, 69, 0.7)!important;
  color: #fff!important;;
  display: block!important;;
  font-family: robotoblack !important;
  font-size: 12px!important;;
  height: 30px!important;;
  line-height: 30px!important;;
  text-align: center!important;;
  text-transform: uppercase!important;;
  width: 100%!important;;
}
.comunidades {
  font-size: 14px!important;
  line-height: 25px!important;
}
.page-header {
  padding-bottom: 0px;
  margin: 40px 0 20px;
  margin-top: 0px;
  border-bottom: 0px solid #eeeeee;
}



